<div class="authentication">
    <div class="sign-in-2">
        <div class="container-fluid no-pdd-horizon">
            <div class="row">
                <div class="col mr-auto ml-auto">
                    <div class="row">
                        <div class="height-100">
                            <div class="table-cell">
                                <form [formGroup]="form" (ngSubmit)="submit()">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input formControlName="password" id="password" type="password"
                                            class="form-control" [(ngModel)]="profile.password">
                                        <div *ngIf="f.password.touched && f.password.invalid"
                                        class="text-danger">
                                            <div *ngIf="f.password.errors.required">Password is required.</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm Password</label>
                                        <input formControlName="confirmPassword" id="confirmPassword" type="password"
                                            class="form-control" [(ngModel)]="profile.confirmPassword">
                                        <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid"
                                        class="text-danger">
                                            <div *ngIf="f.confirmPassword.errors.required" class="text-danger">Password is required.</div>
                                            <div *ngIf="f.confirmPassword.errors.confirmedValidator" class="text-danger">Password and
                                                Confirm Password must be match.
                                        </div>
                                        </div>
                                            
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change
                                            Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /form card change password -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="passChanged" class="mt-3 ml-3">
    Password Changed Successfully Click Here To Login
    <a href="" class ="nav-link me-lg-3 text-center" (click)="logout()">Login</a>
  </div>